<h1>New fault_history</h1>

<%= render 'form' %>

<%#= link_to 'Back', station_ac_path(@station, @ac) %>
<script type="text/javascript">
	activate_tab(4);
  //formatLinkForPaginationURL("ac");
</script>
