<div class="title">New fault_history</div>

<%= render 'form' %>

<%#= link_to 'Back', station_ac_path(@station, @ac) %>
<script type="text/javascript">
	activate_tab(4);
  //formatLinkForPaginationURL("ac");
</script>
