<%#= form_tag '/stations/search_result' do
  autocomplete_field_tag 'name', '', autocomplete_station_name_stations_path, :size => 75
end
%>
<div id="station_list" class="no_tab_container">
	<div class="big-heading">Power stations under ERD </div>

	<div style="height:35px">
		<span style="float:right">Account Office
			<select id = "group_stations">
				<option>All</option>	
		  		<option>Bhadrapur</option>	
		  		<option>Biratnagar</option>	
		  		<option>Birtamod</option>
			  	<option>Damak</option>
		  		<option>Dharan</option>
		  		<option>Dhankuta</option>
				<option>Ilam</option>
				<option>Itahari</option>
		  		<option>Lahan</option>
		  		<option>Rajbiraj</option>
			</select>	
		</span>
	</div>

	
	<script type="text/javascript">
		$(document).ready(function() {
			$("#stations").load("/stations/list");
		});

	</script>	
	
	<div id = "stations">
		<!-- Load stations list here -->
		
	</div>

</div>

