<h1>Editing servicing_history</h1>

<%= render 'form' %>

<%#= link_to 'Show', @servicing_history %> |
<%#= link_to 'Back', servicing_histories_path %>

<script type="text/javascript">
	activate_tab(5);
</script>
