<h2>Provide new servicing details of <%= @generator.genset_name %> generator </h2>

<%= render 'form' %>

<%= link_to 'Back', station_generator_path(@station, @generator) %>

<script type="text/javascript">
	activate_tab(5);
</script>
