<div id="header">
	<div id="header_left">
		<img src="/images/ntc_logo.png" alt="Nepal Telecom"/>
		<div class="logo_label"> Nepal Telecom </div>
	</div>
	<div id="header_right">
		<h1> Power Section Inventory Management System  </h1>
		<h2> Eastern Regional Directorate, Biratnagar </h2>
	</div>
	
	<% if  user_signed_in? %>
	<div class="welcome"><span> Hi <%= current_user.email %> </span> | <span> <%= link_to "Sign out", destroy_user_session_path %></span> </div>
	<% end %>
</div>

<form id="searchform">
		<input type="text" onblur="if (this.value == '') {this.value = 'Search stations...';}" onfocus="if (this.value == 'Search stations...') {this.value = '';}" id="s" name="s" value="Search stations...">
</form>

